@page "/todolist"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<MudText>This is the Prions blogging engine based on the V3 App Template. To do list:</MudText>

<MudTreeView AutoExpand="true" ExpandOnClick="true" T="string" ReadOnly>
    <MudTreeViewItem Text="Completed" Expanded>
        <MudTreeViewItem Text="V3 Template" />
        <MudTreeViewItem Text="Data model & context/service" />
        <MudTreeViewItem Text="Nav & Page loading" />
        <MudTreeViewItem Text="Editing & saving posts" />
        <MudTreeViewItem Text="Tags & categories" />
    </MudTreeViewItem>
    <MudTreeViewItem Text="To Do" Expanded>
        <MudTreeViewItem Text="Access permissions" />
        <MudTreeViewItem Text="Blog main page upgrade" />
        <MudTreeViewItem Text="Post private/publish" />
        <MudTreeViewItem Text="Test user logins" />
        <MudTreeViewItem Text="Nav menu" />
        <MudTreeViewItem Text="Favorites links" />
        <MudTreeViewItem Text="Custom CSS" />
        <MudTreeViewItem Text="Search functionality" />
    </MudTreeViewItem>
</MudTreeView> 
